<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Familie Meier</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-content class="black">
          <template>
            <ul id="wire">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <h2>Lose ziehen</h2>

            <v-layout justify-center>
              <v-flex xs11 sm6 lg4>
                <v-form class="white pa-4">
                  <h3 class="headline mb-1">Gib dein Passwort ein:</h3>
                  <v-text-field
                    :type="'password'"
                    name="input-password"
                    label="Passwort"
                    class="input-group--focused"
                    @change="disableButton = false"
                  ></v-text-field>

                  <v-layout>
                    <v-spacer></v-spacer>
                    <v-btn dark @click="btnClick"> Dein Los ziehen </v-btn>
                  </v-layout>
                </v-form>

                <v-alert
                  type="info"
                  v-if="!showSelect"
                  :value="true"
                  class="ma-0"
                >
                  Es wurden alle Lose gezogen. Viel Spaß !
                </v-alert>

                <v-alert
                  class="ma-0"
                  icon="mood"
                  v-if="showResult"
                  color="error"
                  :value="true"
                >
                  Du hast {{ lot }} gezogen.
                </v-alert>
              </v-flex>
            </v-layout>
          </template>
        </v-content>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="app.js"></script>
  </body>
</html>
